body {
  margin: 0;
  padding: 0;
}

.redheart {
  color: #f00;
}

.home, .register, .login, .logout, .createRoute, .admin {
  color: #333;
}

.check-waypoint {
  display: block;
}

.form-fields {
  margin-left: 2em;
}

.admin-menu {
  background-color: #333;
  float: left;
}

.admin-header {
  text-align: center;
}

.admin-body {
  float: right;
  width: 80%;
}

.menu-heading {
  color: #fdfdfd;
  padding-left: 0.5em;
}

.landmark, .walk, .user {
  color: #eee;
}

.landmark:hover, .walk:hover, .user:hover, .landmark:focus, .walk:focus, .user:focus {
  color: #333;
}



/* START OF MODAL CSS */

/* The Modal (background) */
.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  text-align: center;
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content */
.modal-content {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: 1px solid #888;
  border-radius: 25px;
  margin: 12% auto;
  padding: 0;
  position: relative;
  width: 50%;
  background-color: #fdfdfd;
}

/* Modal Header */
.modal-header {
  background-color: #666;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  color: #fdfdfd;
  padding: 2px 16px;
}

/* Modal Body */
.modal-body {
  min-height: 5em;
  padding: 2em;
  text-align: left;
}

/* Modal Footer */
.modal-footer {
  background-color: #666;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #fdfdfd;
  padding: 2px 16px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 0.8em;
  margin-top: 0.5em;
}

.close:hover, .close:focus {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -200px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -200px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* END OF MODAL CSS */

#map-canvas {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
}
